gymnasium
gymnasium[other]
git+https://github.com/akanto/nes-py.git@master#egg=nes-py
git+https://github.com/akanto/gym-super-mario-bros.git@master#egg=gym-super-mario-bros
numpy==2.2.0
torch
torchvision
torchaudio
stable_baselines3
standard-imghdr
imageio-ffmpeg
tensorboard
opencv-python