gymnasium==1.1.1
gymnasium[other]==1.1.1
git+https://github.com/akanto/nes-py.git@master#egg=nes-py
git+https://github.com/akanto/gym-super-mario-bros.git@master#egg=gym-super-mario-bros
numpy==2.2.0
torch==2.6.0
torchvision==0.21.0
torchaudio==2.7.0
stable_baselines3==2.6.0
standard-imghdr==3.13.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
tensorboard==2.19.0
opencv-python==4.11.0.86